
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Master_Login.cshtml";
}

<div class="login f1">
    @*<div class="errors">
        <p class="type_error">Usuario no encontrado.</p>
    </div>*@
    <div class="group_login">
        <figure class="logo flex flex_jcc mb-5">
            <img src="~/Content/images/logos/Logo Training generator.png" />
        </figure>

        @using (Html.BeginForm("DoLogin", "Login", FormMethod.Post, new { @class = "buttons flex flex_jcc", id = "dologin" }))
        {
            <a class="img_connect" href="#r" onclick="$('#dologin').submit()">
                <img src="~/Content/images/logos/btn_strava_connectwith_orange.svg" />
            </a>
        }
    </div>
</div>
