@{
    ViewBag.Title = "Restablecer Contraseña";
    ViewData["wrapper_login"] = "wrapper-login";
    Layout = "~/Views/Shared/Master.cshtml";
}


@* Pantalla de Recordar contraseña *@
<div class="row h-100 d-flex align-items-center justify-content-center">
    <div class="col-3 card card-login">
        <figure class="logo d-flex justify-content-center mb-5">
            <img src="~/Content/images/logos/logo.svg" />
        </figure>
        <label for="inp" class="box-labelinput mb-4">
            <input type="password" id="inp" placeholder="&nbsp;">
            <span class="label-move">Contraseña anterior</span>
            <span class="focus-bg"></span>
        </label>
        <label for="inp" class="box-labelinput mb-4">
            <input type="password" id="inp" placeholder="&nbsp;">
            <span class="label-move">Nueva contraseña</span>
            <span class="focus-bg"></span>
        </label>
        <label for="inp" class="box-labelinput mb-4">
            <input type="password" id="inp" placeholder="&nbsp;">
            <span class="label-move">Repetir contraseña</span>
            <span class="focus-bg"></span>
        </label>
        <div class="buttons d-flex justify-content-center">
            <a href="/Home" class="btn btn-2 btn-xl">Restablecer contraseña</a>
        </div>
    </div>
</div>


