
@{
    ViewBag.Title = "LeftColumn";
    Layout = "~/Views/Shared/Columns/LeftColumn.cshtml";
}

<ul class="accordion">
    <li>
        <a href="#r" class="opt_main" title="">Guia</a>
    </li>
    <li>
        <a href="#r" class="opt_main" title="">Controles</a>
        <ul class="submenu">
            <li>
                <a class="only_option" href="#breadcrumb" title="">Migas de Pan</a>
            </li>
            <li>
                <a class="only_option" href="#buttons" title="">Botones</a>
            </li>
            <li>
                <a class="only_option" href="#checkbox" title="">Checkbox</a>
            </li>
            <li>
                <a class="only_option" href="#data_table" title="">Tablas</a>
            </li>
            <li>
                <a class="only_option" href="#link" title="">Links</a>
            </li>
            <li>
                <a class="only_option" href="#modal">PopUp</a>
            </li>
            <li>
                <a class="only_option" href="#text_input" title="">Cajas de Texto</a>
            </li>
            <li>
                <a class="only_option" href="#radio" title="">Radio Button</a>
            </li>
            <li>
                <a class="only_option" href="#select" title="">Cajas de selección</a>
            </li>
            <li>
                <a class="only_option" href="#steps" title="">Pasos</a>
            </li>
            <li>
                <a class="only_option" href="#tags" title="">Etiquetas</a>
            </li>
            <li>
                <a class="only_option" href="#icono" title="">Iconos</a>
            </li>
            <li>
                <a class="only_option" href="#file" title="">Selección de ficheros</a>
            </li>
            <li>
                <a class="only_option" href="#switch" title="">Interruptores/Switch</a>
            </li>
            <li>
                <a class="only_option" href="#tabs" title="">Tabs</a>
            </li>
            <li>
                <a class="only_option" href="#lists" title="">Listados</a>
            </li>
            <li>
                <a class="only_option" href="#range" title="">Rango</a>
            </li>
            <li>
                <a class="only_option" href="#progress" title="">Barras de Progreso</a>
            </li>
            <li>
                <a class="only_option" href="#stars" title="">Valoración</a>
            </li>
            <li>
                <a class="only_option" href="#tooltip" title="">Tooltip</a>
            </li>
            <li>
                <a class="only_option" href="#ValueNotification" title="">Notificaciones con Valor</a>
            <li>
                <a class="only_option" href="#Acordeon" title="">Acordeón</a>
            </li>
            <li>
                <a class="only_option" href="#NotificationAlerts" title="">Alertas de Notificaciones</a>
            </li>
            <li>
                <a class="only_option" href="#flipCards" title="">Tarjetas con Efecto Flip</a>
            </li>
            <li>
                <a class="only_option" href="#avatars" title="">Avatares</a>
            </li>
            <li>
                <a class="only_option" href="#paginators" title="">Paginadores</a>
            </li>
            <li>
                <a class="only_option" href="#reveal" title="">Revelador</a>
            </li>
            <li>
                <a class="only_option" href="#selectTags" title="">Selección Multiple de Etiquetas</a>
            </li>
        </ul>
    </li>
</ul>

