@* Formato de Tablas *@
<table border="0" class="table">
    <thead>
        <tr>
            <th>
                <div class="cb_item">
                    <input type="checkbox" id="checkbox_table_head" name="checkbox_table_head" />
                    <label for="checkbox_table_head"></label>
                </div>
            </th>
            <th>Nombre</th>
            <th>Protocolo</th>
            <th>Puerto</th>
            <th>Tipo</th>
            <th>Grupo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="cb_item">
                    <input type="checkbox" id="checkbox_table_1" name="checkbox_table" />
                    <label for="checkbox_table_1"></label>
                </div>
            </td>
            <td>Load Balancer 1</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen's VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <div class="cb_item">
                    <input type="checkbox" id="checkbox_table_2" name="checkbox_table" />
                    <label for="checkbox_table_2"></label>
                </div>
            </td>
            <td>Load Balancer 2</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen's VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <div class="cb_item">
                    <input type="checkbox" id="checkbox_table_3" name="checkbox_table" />
                    <label for="checkbox_table_3"></label>
                </div>
            </td>
            <td>Load Balancer 3</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen's VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <div class="cb_item">
                    <input type="checkbox" id="checkbox_table_4" name="checkbox_table" />
                    <label for="checkbox_table_4"></label>
                </div>
            </td>
            <td>Load Balancer 4</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen's VM Groups</td>
            <td>Active</td>
        </tr>
    </tbody>
</table>
