@* Select Simple con icono despleglar *@
<div class="item_select">
    <label for="select_id" class="label">Select label:</label>
    <div class="box_select">
        <select id="select_id" class="select">
            <option class="box_select_option box_select_option_disabled" disabled selected hidden>Elige una opción ...</option>
            <option class="box_select_option">Opción 1</option>
            <option class="box_select_option">Opción 2</option>
            <option class="box_select_option">Opción 3</option>
            <option class="box_select_option">Opción 4</option>
        </select>
        <i class="fa fa-caret-down select_arrow" aria-hidden="true"></i>
    </div>
</div>

@* TODO: Select simple con icono al principio *@
