<div class="container_alerts">
    <!-- Primary Message -->
    <div class="xd_message msg_primary">
        <div class="xd_message_icon">
            <i class="fas fa-exclamation"></i>
        </div>
        <div class="xd_message_content">
            <p>The quick brown fox jumped over the lazy dog.</p>
        </div>
        <a href="#r" class="xd_message_close">
            <i class="close-icon fas fa-times"></i>
        </a>
    </div>

    <!-- Danger Message -->
    <div class="xd_message msg_danger">
        <div class="xd_message_icon">
            <i class="fas fa-times"></i>
        </div>
        <div class="xd_message_content">
            <p>The quick brown fox jumped over the lazy dog.</p>
        </div>
        <a href="#r" class="xd_message_close">
            <i class="close-icon fas fa-times"></i>
        </a>
    </div>

    <!-- Danger Success -->
    <div class="xd_message msg_success">
        <div class="xd_message_icon">
            <i class="fas fa-check"></i>
        </div>
        <div class="xd_message_content">
            <p>The quick brown fox jumped over the lazy dog.</p>
        </div>
        <a href="#r" class="xd_message_close">
            <i class="close-icon fas fa-times"></i>
        </a>
    </div>

    <!-- Danger Warning -->
    <div class="xd_message msg_warning">
        <div class="xd_message_icon">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="xd_message_content">
            <p>The quick brown fox jumped over the lazy dog.</p>
        </div>
        <a href="#r" class="xd_message_close">
            <i class="close-icon fas fa-times"></i>
        </a>
    </div>

</div>

