@* Caja de Texto Simple *@
<div class="box_form_item mb10">
    <label for="text_input_1" class="label">Text Input label:</label>
    <input id="text_input_1" type="text" class="input_text input" placeholder="...">
</div>

@* Caja de Texto Deshabilitada *@
<div class="box_form_item mb10">
    <label for="text_input_2" class="label label_disabled">Text Input label:</label>
    <input id="text_input_2" type="text" class="input input_text" placeholder="..." disabled>
</div>

@* Caja de Texto Formato Grande *@
<div class="box_form_item">
    <label for="text_input_3" class="label">Text Area label:</label>
    <textarea id="text_input_3" type="text" class="textarea" placeholder="..."></textarea>
</div>

@* TODO: Caja de Texto con icono *@
