<div class="item_link_icons">
    <a href="http://fontawesome.io/icons/" class="link" target="_blank">Font Awesome Icons</a><span>- Iconos con código</span>
</div>
<div class="item_link_icons">
    <a href="https://www.flaticon.com/" class="link" target="_blank">Flat Icon</a><span>- Iconos con imagen</span>
</div>


