@* Estilo de Popup Carga *@
<div id="popup_Carga" class="modal" style="display:none;">
    <div class="loading">
        <div class="spinner spinner_top_left"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.popUpCarga-button').on('click', function () {
            setTimeout("$('#popup_Carga').hide();", 3000);
        });
    });
</script>
