<section class="list_section">
    <article class="card">
        <header class="list_header">
            <figure class="img_list">
                <img src="https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80" title="" alt="" />
            </figure>
            <div class="date">
                <span class="day">17</span>
                <span class="month">AUG</span>
            </div>
            <div class="info">
                <span class="source">Solusoft</span>
            </div>
        </header>
        <section class="list_body">

            <div class="content_card">
                <h3 class="title_card">Boxing icon has the will for a couple more fights</h3>
                <p class="description_card">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
            </div>
        </section>
    </article>    
</section> 
