<div class="selectTags">
    <p>Selección de etiquetas multiple</p>
    <div class="selectMultipleTags">
        <select multiple data-placeholder="Añadir tags">
            <option>Sketch</option>
            <option selected>Framer X</option>
            <option>Photoshop</option>
            <option>Principle</option>
            <option>Invision</option>
        </select>
    </div>
</div>

<div class="selectTags">
    <p>Selección de etiquetas single</p>
    <div class="dropdown-container">
        <div class="dropdown-button noselect">
            <div class="dropdown-label">States</div>
            <div class="dropdown-quantity">(<span class="quantity">0</span>)</div>
            <i class="fa fa-filter"></i>
        </div>
        <div class="dropdown-list" style="display: none;">
            <input type="search" placeholder="Search" class="dropdown-search" />
            <ul>
                @for (int i = 1; i < 11; i++)
                {
                    <li class="singleTag">
                        <input name="name@i" type="checkbox">
                        <label for="name@i">opcion @i</label>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>


<div class="selectTags">
    <p>Selección de etiquetas</p>
    <div class="flex flex_aic innerBloOriDest">
        <div class="bloOri f1 bloTag">
            <select name="origen[]" id="origen" size="8">
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
                <option value="4">Opción 4</option>
                <option value="5">Opción 5</option>
                <option value="6">Opción 6</option>
                <option value="7">Opción 7</option>
                <option value="8">Opción 8</option>
            </select>
        </div>
        <div class="selectlTagButton f1">
            <input type="button" class="pasar izq btn" value="Pasar »"><input type="button" class="quitar der btn" value="« Quitar"><br>
            <input type="button" class="pasartodos izq btn" value="Todos »"><input type="button" class="quitartodos der  btn" value="« Todos">
        </div>
        <div class="bloDest f1 bloTag">
            <select name="destino[]" id="destino" size="8"></select>
        </div>
    </div>
</div>