
<div class="box_inputfile">
    <input type="file" name="file" id="file_select" class="inputfile" />
    <label for="file_select" class="btn"><span>Seleccionar imagen</span></label>    
</div>
<script src="~/Content/js/jquery.custom-file-input.js"></script>
