<div class="reveal">
    <div class="content_reveal">
        <h2>
            My Amazing Title
        </h2>
        <p class="description">
            Some description text here of the title that displays on hover
        </p>
        <div class="detail_reveal">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur expedita suscipit quo hic illo id adipisci facere fuga dolore odio sed, veniam vel autem blanditiis, est necessitatibus officiis, corrupti quis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur expedita suscipit quo hic illo id adipisci facere fuga dolore odio sed, veniam vel autem blanditiis, est necessitatibus officiis, corrupti quis.</p>
        </div>
        <span class="link_Show_Hide">Click to read more</span>
    </div>
</div>
