@* Botones *@

<div class="row w100 mb10">
    @* Boton Normal *@
    <button class="btn" type="button">Normal</button>

    @* Boton Normal Deshabilitado *@
    <button class="btn ml10" type="button" disabled>Normal Deshabilitado</button>

    @* Boton Normal con icono *@
    <button class="btn ml10" type="button">
        <i class="fa fa_mr fa-caret-right" aria-hidden="true"></i> Normal con icono
    </button>
</div>
<div class="row w100 mb10">
    @* Boton Mediano *@
    <button class="btn btn_small" type="button">Mediano</button>

    @* Boton Mediano con icono *@
    <button class="btn btn_small ml10" type="button">
        <i class="fa fa_mr fa-caret-right" aria-hidden="true"></i> Mediano con icono
    </button>
</div>
<div class="row w100 mb10">
    @* Boton Pequeno *@
    <button class="btn btn_minimum" type="button">Pequeño</button>

    @* Boton Pequeno con icono *@
    <button class="btn btn_minimum ml10" type="button">
        <i class="fa fa_mr fa-caret-right" aria-hidden="true"></i> Pequeño con icono
    </button>
</div>
<div class="row w100 flex flex_h">
    @* Boton con icono solo *@
    <button class="btn btn_icon" type="button">
        <i class="fas fa-plus"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-filter"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-redo-alt"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="far fa-edit"></i>
    </button>
    <button class="btn btn_icon btn_red ml10" type="button">
        <i class="fas fa-trash"></i>
    </button>
    <button class="btn btn_icon btn_green ml10" type="button">
        <i class="fas fa-check"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="far fa-calendar"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-search"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-link"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-print"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-download"></i>
    </button>
    <button class="btn btn_icon ml10" type="button">
        <i class="fas fa-camera"></i>
    </button>
</div>