<!--paginador 1-->
<div class="pagination pagination_round">
    <a href="#">«</a>
    <a href="#">‹</a>
    <a href="#" class="selected">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">›</a>
    <a href="#">»</a>
</div>

<!--paginador 2-->
<div class="pagination pagination_square">
    <a href="#">«</a>
    <a href="#">‹</a>
    <a href="#" class="selected">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">›</a>
    <a href="#">»</a>
</div>
