@* Checkbox Horizontal *@
<div class="list_checkbox list_checkbox_h f1">
    <div class="cb_item">
        <input type="checkbox" id="checkbox_h_1" name="checkbox_h" />
        <label for="checkbox_h_1">Checkbox Horizontal 1</label>
    </div>
    <div class="cb_item">
        <input type="checkbox" id="checkbox_h_2" name="checkbox_h" />
        <label for="checkbox_h_2">Checkbox Horizontal 2</label>
    </div>
</div>

@* Checkbox Vertical *@
<div class="list_checkbox list_checkbox_v f1">
    <div class="cb_item">
        <input type="checkbox" id="checkbox_v_1" name="checkbox_v" />
        <label for="checkbox_v_1">Checkbox Vertical 1</label>
    </div>
    <div class="cb_item">
        <input type="checkbox" id="checkbox_v_2" name="checkbox_v" />
        <label for="checkbox_v_2">Checkbox Vertical 2</label>
    </div>
</div>
