@* RadioButton Horizontal *@
<div class="list_radio list_radio_h f1">
    <div class="rd_item">
        <input type="radio" id="radio_h_1" name="radio_h" />
        <label for="radio_h_1">Radio Horizontal 1</label>
    </div>
    <div class="rd_item">
        <input type="radio" id="radio_h_2" name="radio_h" />
        <label for="radio_h_2">Radio Horizontal 2</label>
    </div>
</div>

@* RadioButton Vertical *@
<div class="list_radio list_radio_v f1">
    <div class="rd_item">
        <input type="radio" id="radio_v_1" name="radio_v" />
        <label for="radio_v_1">Radio Vertical 1</label>
    </div>
    <div class="rd_item">
        <input type="radio" id="radio_v_2" name="radio_v" />
        <label for="radio_v_2">Radio Vertical 2</label>
    </div>
</div>
