<a href="#r" class="tag tag_type_1"><span><i class="fa fa-circle" aria-hidden="true"></i>Etiqueta 1</span></a>
<a href="#r" class="tag tag_type_2"><span><i class="fa fa-circle" aria-hidden="true"></i>Etiqueta 2</span></a>
<a href="#r" class="tag tag_type_3"><span><i class="fa fa-circle" aria-hidden="true"></i>Etiqueta 3</span></a>
<a href="#r" class="tag tag_type_4"><span><i class="fa fa-circle" aria-hidden="true"></i>Etiqueta 4</span></a>
