<div class="accordion_box">
    <div class="accordion">
        <input id="ac_1" type="checkbox" name="checkbox">
        <label for="ac_1">Button 1</label>
        <div class="accordion_content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem doloribus minima blanditiis! Quaerat natus autem assumenda nostrum, non tenetur quidem porro nesciunt?</p>
        </div>
    </div>
    <div class="accordion">
        <input id="ac_2" type="checkbox" name="checkbox">
        <label for="ac_2">Button 2</label>
        <div class="accordion_content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti distinctio eius repellendus possimus explicabo sunt inventore accusamus quia perspiciatis dolor, consectetur voluptas!</p>
        </div>
    </div>
    <div class="accordion">
        <input id="ac_3" type="checkbox" name="checkbox">
        <label for="ac_3">Button 3</label>
        <div class="accordion_content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum dolores ex magni suscipit accusamus atque qui expedita, enim, error earum. Voluptate?</p>
        </div>
    </div>
    <div class="accordion">
        <input id="ac_4" type="checkbox" name="checkbox">
        <label for="ac_4">Button 4</label>
        <div class="accordion_content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur blanditiis fugiat facere odio obcaecati? Numquam quasi quo accusamus, perferendis nesciunt dolorem ex!</p>
        </div>
    </div>
</div>