@* Pasos con descripcion *@
<div class="steps">
    <a href="#r" class="step active" title="">
        <i class="fab fa-html5"></i>
        <div class="content">
            <div class="title">HTML5</div>
            <div class="description">Estructurar contenido web</div>
        </div>
    </a>
    <a href="#r" class="step" title="">
        <i class="fab fa-css3-alt"></i>
        <div class="content">
            <div class="title">CSS3</div>
            <div class="description">Cascading Style Sheets</div>
        </div>
    </a>
    <a href="#r" class="step" title="">
        <i class="fab fa-js"></i>
        <div class="content">
            <div class="title">JavaScript</div>
            <div class="description">Lenguaje de programación para crear acciones</div>
        </div>
    </a>
</div>


@* Pasos Numericos con etiquetas *@
<ul class="steps_num flex">
    <li class="item_new f1 active">
        <a href="#r" title="">
            <p class="value_menu flex flex_aic"><span class="circle_value">1</span></p>
            <p class="label_menu">Opción 1</p>
        </a>
    </li>
    <li class="item_new f1">
        <a href="#r" title="">
            <p class="value_menu flex flex_aic"><span class="circle_value">2</span></p>
            <p class="label_menu">Opción 2</p>
        </a>
    </li>
    <li class="item_new f1">
        <a href="#r" title="">
            <p class="value_menu flex flex_aic"><span class="circle_value">3</span></p>
            <p class="label_menu">Opción 3</p>
        </a>
    </li>
</ul>
