<div class="card_wrapper">
    <div class="card_container">
        <div class="card_flip horizontal">
            <div class="front"><h3 class="card_title">Flip me!</h3></div>
            <div class="back">
                <div class="content_flip">
                    <h3 class="card_title">I was made with CSS3</h3>
                    <p id="happy"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card_container">
        <div class="card_flip vertical">
            <div class="front"><h3 class="card_title">Flip me!</h3></div>
            <div class="back">
                <div class="content_flip">
                    <h3 class="card_title">I was made with JQuery</h3>
                    <p id="laugh"></p>
                </div>
            </div>
        </div>
    </div>
</div>
