<div class="value_notification">
    <a href="#" class="btn_value_notification">
        <i class="fa fa-archive"></i>
        <span class="btn_value_notification_badge">4</span>
    </a>
    <a href="#" class="btn_value_notification">
        <i class="fa fa-calendar"></i>
        <span class="btn_value_notification_badge btn_value_notification_badge_blue">22</span>
    </a>
    <a href="#" class="btn_value_notification">
        <i class="fa fa-bell"></i>
        <span class="btn_value_notification_badge btn_value_notification_badge_green">5</span>
    </a>
    <a href="#" class="btn_value_notification">
        <i class="fa fa-envelope"></i>
        <span class="btn_value_notification_badge btn_value_notification_badge_purple">6</span>
    </a>
</div>