<div class="cookies" id="cookies" style="display:none;">
    <p class="txt_cookies">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continua navegando, consideramos que acepta su uso. Puede cambiar la configuración u obtener <a href="#r" title="Ver Política de Privacidad">más información</a>.</p>
    <div class="btns_cookies">
        <a href="javascript:void(0);" class="btn btn_small" onclick="PonerCookie();">Leído y Conforme</a> <a href="#r" class="icon ml10"><i class="far fa-times-circle"></i></a>
    </div>
</div>
<script src="~/Content/js/cookies.js"></script>