@{
    ViewBag.Title = "Formularios";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2 class="title_component">Formularios</h2>
<div class="form">
    <div class="row_form row">
        <div class="column_form column">
            <div class="item_form item_select">
                <label for="name" class="label">*Nombre:</label>
                <input type="text" id="name" name="formulario" class="input_text input" placeholder="..." required />
                <span class="txt_error" style="visibility:hidden;">Introducir Nombre.</span>
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label for="surname" class="label">*Apellidos:</label>
                <input type="text" id="surname" name="formulario" class="input_text input_error input" placeholder="..." required />
                <span class="txt_error">Introducir Apellido.</span>
            </div>
        </div>
    </div>
    <div class="row_form">
        <div class="column_form">
            <div class="item_form item_select">
                <label for="mail" class="label">*Email:</label>
                <input type="email" id="mail" name="formulario" class="input_text input" placeholder="..." required />
                <span class="txt_error" style="visibility:hidden;">Introducir Correo Electrónico.</span>
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label for="tel" class="label">Teléfono:</label>
                <input type="tel" id="tel" name="formulario" class="input_text input" placeholder="..." />
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label for="dni" class="label">NIF:</label>
                <input type="text" id="dni" name="formulario" class="input_text input" placeholder="..." />
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label for="num" class="label">Edad:</label>
                <input type="number" id="num" name="formulario" class="input_text input" placeholder="..." />
            </div>
        </div>
    </div>
    <div class="row_form">
        <div class="column_form column_form_mod">
            <div class="item_form item_select">
                <label for="birthday" class="label">desde:</label>
                <input type="date" id="from" name="formulario" class="input_text input" placeholder="...">
            </div>
        </div>
        <div class="column_form column_form_mod">
            <div class="item_form item_select">
                <label for="birthday" class="label">hasta:</label>
                <input type="date" id="to" name="formulario" class="input_text input" placeholder="...">
            </div>
        </div>


    </div>
    <div class="row_form">
        <div class="column_form">
            <div class="item_form item_select">
                <label for="birthday" class="label">Fecha de Nacimiento:</label>
                <input type="date" id="birthday" name="formulario" class="input_text input" placeholder="..." />
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label for="cp" class="label">C.P.:</label>
                <input type="number" id="cp" name="formulario" class="input_text input" placeholder="..." />
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label class="label">*Sexo:</label>
                <div class="list_radio list_radio_h f1">
                    <div class="rd_item">
                        <input type="radio" id="male" name="formulario_r" class="input_error" />
                        <label for="male">Hombre</label>
                    </div>
                    <div class="rd_item">
                        <input type="radio" id="female" name="formulario_r" class="input_error" />
                        <label for="female">Mujer</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column_form">
            <div class="item_form item_select">
                <label class="label">*Provincia:</label>
                <div class="box_select">
                    <select id="select_id" class="select select_error">
                        <option class="box_select_option box_select_option_disabled" disabled selected hidden>Elige una opción ...</option>
                        <option class="box_select_option">Madrid</option>
                        <option class="box_select_option">Barcelona</option>
                        <option class="box_select_option">Valencia</option>
                        <option class="box_select_option">Bilbao</option>
                    </select>
                    <i class="fa fa-caret-down select_arrow" aria-hidden="true"></i>
                </div>
                <span class="txt_error">Seleccionar Provincia.</span>
            </div>
        </div>
    </div>
    <div class="captcha mb10">

    </div>
    <div class="flex flex_jcc buttons_group">
        <button class="btn btn_width" type="button">Enviar Formulario</button>
    </div>
</div>
