<div class="row mb-5">
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex justify-content-end">
                    <span class="label">Property:</span>
                    <span class="label label-bk ml-3">MXD</span>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <span class="label label-bk label-icon"><i class="far fa-bell"></i></span>
                    <span class="label ml-3">Property</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex justify-content-end">
                    <span class="label">Property:</span>
                    <span class="label label-bk ml-3">MXD</span>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0 mb-4">
                <div class="col p-0">
                    <span class="label label-bk label-icon"><i class="far fa-bell"></i></span>
                    <span class="label ml-3">Property</span>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex justify-content-end">
                    <span class="label">Property:</span>
                    <span class="label label-bk ml-3">MXD</span>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0 mb-4">
                <div class="col p-0">
                    <span class="label label-bk label-icon"><i class="far fa-bell"></i></span>
                    <span class="label ml-3">Property</span>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0 mb-2 align-items-center">
                <div class="col p-0">
                    <span class="label">Property:</span>
                    <span class="label label-bk ml-3">MXD</span>
                </div>
                <div class="col-auto p-0 pl-4">
                    <i class="far fa-times-circle close-pop"></i>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <span class="label label-bk label-icon"><i class="far fa-bell"></i></span>
                    <span class="label ml-3">Property</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0 mb-2 align-items-center">
                <div class="col p-0">
                    <span class="label">Property:</span>
                    <span class="label label-bk ml-3">MXD</span>
                </div>
                <div class="col-auto p-0 pl-4">
                    <i class="far fa-times-circle close-pop"></i>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0 mb-4">
                <div class="col p-0">
                    <span class="label label-bk label-icon"><i class="far fa-bell"></i></span>
                    <span class="label ml-3">Property</span>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center ml-4">
                    <div class="col p-0">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto  p-0">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
            <div class="row m-0 mt-4">
                <div class="col-3"></div>
                <div class="col p-0 d-flex justify-content-center">
                    <button type="button" class="btn btn-rounded btn-m w-100">Button</button>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex justify-content-end">
                    <div class="cb-item cb-item-inv">
                        <input type="checkbox" name="all" id="all_1" />
                        <label class="label" for="all_1"><span class="txt label">Todos</span></label>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col-auto p-0">
                    <i class="far fa-image img-default"></i>
                </div>
                <div class="col flex-column">
                    <span class="num num-color-main d-block m-0">29.304</span>
                    <span class="label d-block">Property</span>
                </div>
                <div class="col-auto p-0">
                    <label class="switch">
                        <input type="checkbox" name="slider" id="slider_1">
                        <span class="slider round" for="slider_1"></span>
                    </label>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-auto p-0">
                    <i class="far fa-image img-default"></i>
                </div>
                <div class="col flex-column">
                    <span class="num num-color-main d-block m-0">29.304</span>
                    <span class="label d-block">Property</span>
                </div>
                <div class="col-auto p-0">
                    <div class="cb-item">
                        <input type="checkbox" name="checkbox" id="checkbox_1" />
                        <label class="label" for="checkbox_1"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-panel">
            <div class="row m-0">
                <div class="col p-0">
                    <h3 class="title">Título largo a dos lineas</h3>
                </div>
            </div>
            <div class="row m-0 mb-2">
                <div class="col p-0 d-flex justify-content-end">
                    <div class="cb-item cb-item-inv">
                        <input type="checkbox" name="all" id="all_2" />
                        <label class="label" for="all_2"><span class="txt label">Todos</span></label>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col-auto p-0">
                    <i class="far fa-image img-default"></i>
                </div>
                <div class="col flex-column">
                    <span class="num num-color-main d-block m-0">29.304</span>
                    <span class="label d-block">Property</span>
                </div>
                <div class="col-auto p-0">
                    <label class="switch">
                        <input type="checkbox" name="slider" id="slider_1">
                        <span class="slider round" for="slider_1"></span>
                    </label>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col-auto p-0">
                    <i class="far fa-image img-default"></i>
                </div>
                <div class="col flex-column">
                    <span class="num num-color-main d-block m-0">29.304</span>
                    <span class="label d-block">Property</span>
                </div>
                <div class="col-auto p-0">
                    <div class="cb-item">
                        <input type="checkbox" name="checkbox" id="checkbox_3" />
                        <label class="label" for="checkbox_3"></label>
                    </div>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col-auto p-0">
                    <div class="cb-item">
                        <input type="checkbox" name="checkbox" id="checkbox_4" />
                        <label class="label" for="checkbox_4"></label>
                    </div>
                </div>
                <div class="col flex-column">
                    <span class="num d-block m-0">29.304</span>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col-auto p-0">
                    <div class="cb-item">
                        <input type="checkbox" name="checkbox" id="checkbox_4" />
                        <label class="label" for="checkbox_4"></label>
                    </div>
                </div>
                <div class="col flex-column">
                    <span class="num d-block m-0">29.304</span>
                </div>
                <div class="col-auto p-0">
                    <div class="bar">

                    </div>
                </div>
            </div>
            <div class="row m-0 mb-3 align-items-center">
                <div class="col p-0 flex-column">
                    <span class="num d-block m-0">29.304</span>
                </div>
                <div class="col-auto p-0">
                    <label class="switch">
                        <input type="checkbox" name="slider" id="slider_2">
                        <span class="slider round" for="slider_2"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-panel">
            <div class="row mb-0">
                <div class="col p-0 d-flex align-items-center">
                    <div class="col">
                        <span class="label">Property:</span>
                    </div>
                    <div class="col-auto">
                        <span class="num">29.304</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>