
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="maestros.css">
}

@section js{
    <script src="maestros.js"></script>
}

@section popup{
    <div class="popup" id="popup_1" style="display:none">
        @* su contenido se cargara de forma dinamica *@
    </div>
}

<div class="group_home">
    <h2 class="title_home">Capsulas</h2>
    <div class="capsules_controls">
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Formularios.aspx" target="_blank" class="btn btn_capsule"><span>Formularios</span></a>
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Botones.aspx" target="_blank" class="btn btn_capsule"><span>Botones</span></a>
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Texto.aspx" target="_blank" class="btn btn_capsule"><span>Texto</span></a>
        <!--<a href="https://solusoft1.sharepoint.com/Desarrollo/Ruido%20Visual.aspx" target="_blank" class="btn btn_capsule"><span>Ruido Visual</span></a>
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Composici%C3%B3n.aspx" target="_blank" class="btn btn_capsule"><span>Composición</span></a>
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Color.aspx" target="_blank" class="btn btn_capsule"><span>Color</span></a>
        <a href="https://solusoft1.sharepoint.com/Desarrollo/Saber%20m%C3%A1s.aspx" target="_blank" class="btn btn_capsule"><span>...</span></a>-->
    </div>
</div>
<div class="group_home">
    <h2 class="title_home">Controles</h2>
    <div class="capsules_controls">
        <a href="~/Controles#breadcrumb" class="btn btn_capsule"><span>Migas de Pan</span></a>
        <a href="~/Controles#buttons" class="btn btn_capsule"><span>Botones</span></a>
        <a href="~/Controles#checkbox" class="btn btn_capsule"><span>Checkbox</span></a>
        <a href="~/Controles#data_table" class="btn btn_capsule"><span>Tablas</span></a>
        <a href="~/Controles#link" class="btn btn_capsule"><span>Links</span></a>
        <a href="~/Controles#modal" class="btn btn_capsule"><span>Popup</span></a>
        <a href="~/Controles#text_input" class="btn btn_capsule"><span>Cajas de texto</span></a>
        <a href="~/Controles#radio" class="btn btn_capsule"><span>Radio Button</span></a>
        <a href="~/Controles#select" class="btn btn_capsule"><span>Cajas de selección</span></a>
        <a href="~/Controles#steps" class="btn btn_capsule"><span>Pasos</span></a>
        <a href="~/Controles#tags" class="btn btn_capsule"><span>Etiquetas</span></a>
        <a href="~/Controles#lists" class="btn btn_capsule"><span>Iconos</span></a>
        <a href="~/Controles#file" class="btn btn_capsule"><span>Selección de ficheros</span></a>
        <a href="~/Controles#switch" class="btn btn_capsule"><span>Interruptores / Switch</span></a>
        <a href="~/Controles#tabs" class="btn btn_capsule"><span>Tabs</span></a>
        <a href="~/Controles#lists" class="btn btn_capsule"><span>Listados</span></a>
        <a href="~/Controles#range" class="btn btn_capsule"><span>Rangos</span></a>
        <a href="~/Controles#progress" class="btn btn_capsule"><span>Barras de progreso</span></a>
        <a href="~/Controles#stars" class="btn btn_capsule"><span>Valoración</span></a>
        <a href="~/Controles#tooltip" class="btn btn_capsule"><span>Tooltip</span></a>
        <a href="~/Controles#ValueNotification" class="btn btn_capsule"><span>Notificaciones con valor</span></a>
        <a href="~/Controles#Acordeon" class="btn btn_capsule"><span>Acordeón</span></a>
        <a href="~/Controles#NotificationAlerts" class="btn btn_capsule"><span>Alertas de notificaciones</span></a>
        <a href="~/Controles#flipCards" class="btn btn_capsule"><span>Tarjetas con efecto flip</span></a>
        <a href="~/Controles#avatars" class="btn btn_capsule"><span>Avatares</span></a>
        <a href="~/Controles#paginators" class="btn btn_capsule"><span>Paginadores</span></a>
        <a href="~/Controles#reveal" class="btn btn_capsule"><span>Revelador</span></a>
        <a href="~/Controles#selectTags" class="btn btn_capsule"><span>Selección de Etiquetas</span></a>
    </div>
</div>
