@* Botones *@
<div class="row mb-4">
    <div class="col-auto d-flex flex-column">
        @* Boton grande rest *@
        <button type="button" class="btn btn-xl mb-4">Button</button>
        @* Boton grande rest disabled *@
        <button type="button" class="btn btn-xl mb-4" disabled>Button</button>
        @* Boton mediano rest *@
        <button type="button" class="btn btn-m mb-4">Button</button>
        @* Boton mediano rest disabled *@
        <button type="button" class="btn btn-m mb-4" disabled>Button</button>
        @* Boton pequeño rest *@
        <button type="button" class="btn btn-s mb-4">Button</button>
        @* Boton pequeño rest disabled *@
        <button type="button" class="btn btn-s mb-4" disabled>Button</button>
        @* Boton grande rest con icono izquierda *@
        <button type="button" class="btn btn-xl mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>       
        @* Boton grande rest disabled con icono izquierda *@
        <button type="button" class="btn btn-xl mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        @* Boton mediano rest con icono izquierda *@
        <button type="button" class="btn btn-m mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        @* Boton mediano rest disabled con icono izquierda *@
        <button type="button" class="btn btn-m mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        @* Boton pequeño rest con icono izquierda *@
        <button type="button" class="btn btn-s mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        @* Boton pequeño rest disabled con icono izquierda *@
        <button type="button" class="btn btn-s mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        @* Boton grande rest con icono derecha *@
        <button type="button" class="btn btn-xl mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton grande rest disabled con icono derecha *@
        <button type="button" class="btn btn-xl mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton grande rest con icono derecha *@
        <button type="button" class="btn btn-m mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton grande rest disabled con icono derecha *@
        <button type="button" class="btn btn-m mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton grande rest con icono derecha *@
        <button type="button" class="btn btn-s mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton grande rest disabled con icono derecha *@
        <button type="button" class="btn btn-s mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        @* Boton de icono grande rest *@
        <button class="btn btn-xl btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        @* Boton de icono grande rest disabled *@
        <button class="btn btn-xl btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        @* Boton de icono mediano rest *@
        <button class="btn btn-m btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        @* Boton de icono mediano rest disabled *@
        <button class="btn btn-m btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        @* Boton de icono pequeño rest *@
        <button class="btn btn-s btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        @* Boton de icono pequeño rest disabled *@
        <button class="btn btn-s btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>

    </div>
    <div class="col-auto d-flex flex-column">
        <button type="button" class="btn btn-rounded btn-xl mb-4">Button</button>
        <button type="button" class="btn btn-rounded  btn-xl mb-4" disabled>Button</button>
        <button type="button" class="btn btn-rounded  btn-m mb-4">Button</button>
        <button type="button" class="btn btn-rounded  btn-m mb-4" disabled>Button</button>
        <button type="button" class="btn btn-rounded  btn-s mb-4">Button</button>
        <button type="button" class="btn btn-rounded btn-s mb-4" disabled>Button</button>
        <button type="button" class="btn btn-rounded btn-xl mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded  btn-xl mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded  btn-m mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded  btn-m mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded  btn-s mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded btn-s mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-rounded btn-xl mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-rounded  btn-xl mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-rounded  btn-m mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-rounded  btn-m mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-rounded  btn-s mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-rounded btn-s mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button class="btn btn-rounded btn-xl btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-rounded btn-xl btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-rounded btn-m btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-rounded btn-m btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-rounded btn-s btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-rounded btn-s btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
    <div class="col-auto d-flex flex-column">
        <button type="button" class="btn btn-2 btn-xl mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-xl mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-m mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-m mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-s mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-s mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-xl mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-xl mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-m mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-m mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-s mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-s mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-xl mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-xl mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-m mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-m mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-s mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-s mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button class="btn btn-2 btn-xl btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-xl btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-m btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-m btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-s btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-s btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
    <div class="col-auto d-flex flex-column">
        <button type="button" class="btn btn-2 btn-rounded btn-xl mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-xl mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-s mb-4">Button</button>
        <button type="button" class="btn btn-2 btn-rounded btn-s mb-4" disabled>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-xl mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-xl mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded  btn-s mb-4"><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded btn-s mb-4" disabled><i class="fas fa-caret-right mr-2"></i>Button</button>
        <button type="button" class="btn btn-2 btn-rounded btn-xl mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-rounded  btn-xl mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-rounded  btn-m mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-rounded  btn-s mb-4">Button<i class="fas fa-caret-right ml-2"></i></button>
        <button type="button" class="btn btn-2 btn-rounded btn-s mb-4" disabled>Button<i class="fas fa-caret-right ml-2"></i></button>
        <button class="btn btn-2 btn-rounded btn-xl btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-rounded btn-xl btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-rounded btn-m btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-rounded btn-m btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-rounded btn-s btn-icon mb-4">
            <i class="fas fa-caret-right"></i>
        </button>
        <button class="btn btn-2 btn-rounded btn-s btn-icon mb-4" disabled>
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
    <div class="col"></div>
</div>