<div class=" d-flex flex-row align-items-center user-info">
    <div class="col-auto p-0">
        <div class="avatar initials d-flex align-items-center justify-content-center">
            <span class="letters">JC</span>
        </div>
    </div>
    <div class="col d-flex flex-column p-0 ml-4">
        <span class="name-user mb-2">Javier Comendador</span>
        <a href="#r" class="disconnect">
            @await Html.PartialAsync("~/Views/Shared/iconsSVG/icon_disconnect.cshtml")
        </a>
    </div>
</div>