<header class="row align-items-center m-0 mb-4 hea">
    <div class="col-auto">
        <figure class="logo">
            <img src="~/Content/images/logos/logo.svg" />
        </figure>
    </div>
    <div class="col">
        @await Html.PartialAsync("~/Views/Molecules/Menu.cshtml")
    </div>
    <div class="col-auto">
        @await Html.PartialAsync("~/Views/Molecules/Search.cshtml")
    </div>
    <div class="col-auto">
        @await Html.PartialAsync("~/Views/Molecules/Languages.cshtml")
    </div>
    <div class="col-auto">
        @await Html.PartialAsync("~/Views/Atoms/UserLogout.cshtml")
    </div>
</header>