<header class="hea heaC h-100 col-auto d-flex flex-column position-relative">
    <span class="collapsed_but" onclick="menuCollapsed()"></span>
    <figure class="logo mb-5">
        <img src="~/Content/images/logos/logo.svg" />
    </figure>
    <div class="col p-0">
        @await Html.PartialAsync("~/Views/Molecules/MenuC.cshtml")
    </div>
    <div class="col-auto mt-5 p-0">
        @await Html.PartialAsync("~/Views/Atoms/UserLogout.cshtml")
    </div> 
    
</header>