<header class="hea heaB p-0 mb-4">
    <div class="row align-items-center m-0 p-3">
        <div class="col-auto">
            <figure class="logo">
                <img src="~/Content/images/logos/logo.svg" />
            </figure>
        </div>
        <div class="col ml-4">
            @await Html.PartialAsync("~/Views/Molecules/Search.cshtml")
        </div>
        <div class="col-auto d-flex flex-row align-items-center">
            <div class="col-auto mr-5">
                @await Html.PartialAsync("~/Views/Molecules/SocialLinks.cshtml")
            </div>
            <div class="col ml-5 d-flex flex-row align-items-center justify-content-end">
                @await Html.PartialAsync("~/Views/Molecules/Notifications.cshtml")
            </div>
        </div>     
    </div>
    <div class="dropdown-divider"></div>
    <div class="row align-items-center m-0 p-3">
        <div class="col">
            @await Html.PartialAsync("~/Views/Molecules/Menu.cshtml")
        </div>
        <div class="col-auto d-flex flex-row align-items-center justify-content-end">
            <div class="col-auto">
                @await Html.PartialAsync("~/Views/Molecules/Languages.cshtml")
            </div>
            <div class="col-auto">
                @await Html.PartialAsync("~/Views/Atoms/UserLogout.cshtml")
            </div>
        </div>
    </div>
</header>