<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="box-back"><a href="#r" class="btn btn-2 btn-rounded btn-s btn-back d-flex align-items-center"><i class="fas fa-chevron-left mr-3"></i>Volver</a></li>
        <li class="breadcrumb-item d-flex align-items-center ml-4"><a href="#">Item 01</a><span class="separator"><i class="fas fa-chevron-right"></i></span></li>
        <li class="breadcrumb-item d-flex align-items-center"><a href="#">Item 02</a><span class="separator"><i class="fas fa-chevron-right"></i></span></li>
        <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">Item 03<span class="separator"><i class="fas fa-chevron-right"></i></span></li>
    </ol>
</nav>