<div class="row mb-5">
    <div class="col">
        <div class="card">
            <figure class="card-img card-img-none">
                @*<img class="card-img" src="~/Content/images/icons/icon_camera.svg" />*@
            </figure>
            
            <div class="card-info">
                <span class="card-date">23 Sept 2020</span>
                <h2 class="card-title">Titulo principal</h2>
                <p class="card-description">Ut dolore eros enim laoreet Ut exerci delenit Duis augue nibh feugiat ipsum dolor magna.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-h">
            <figure class="card-img card-img-none">
                @*<img class="card-img" src="~/Content/images/icons/icon_camera.svg" />*@
            </figure>
            <div class="card-info">
                <span class="card-date">23 Sept 2020</span>
                <h2 class="card-title">Titulo principal</h2>
                <p class="card-description">Ut dolore eros enim laoreet Ut exerci delenit Duis augue nibh feugiat ipsum dolor magna.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-noimage">
            <div class="card-info">
                <span class="card-date">23 Sept 2020</span>
                <h2 class="card-title">Titulo principal</h2>
                <p class="card-description">Ut dolore eros enim laoreet Ut exerci delenit Duis augue nibh feugiat ipsum dolor magna.</p>
            </div>
        </div>
    </div>
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-file card-file-h">
            <div class="row mb-3">
                <div class="col d-flex align-items-center">
                    <div class="col p-0">
                        <i class="far fa-folder icon-folder"></i>
                    </div>
                    <span class="card-date">23 Sept 2020</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-info">
                        <h2 class="card-title">Titulo principal</h2>
                        <p class="card-description">.PDF / 56kb</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-file card-file-h">
            <div class="row">
                <div class="col d-flex align-items-center">
                    <i class="far fa-folder icon-folder"></i>
                    <div class="card-info col">
                        <h2 class="card-title">Titulo principal</h2>
                        <p class="card-description">.PDF / 56kb</p>
                    </div>
                    <span class="card-date">23 Sept 2020</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>