<div class="dropdown box-language">
    <a class="itemsmenu btn btn-s btn-rounded dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ESP <i class="fas fa-chevron-down ml-2"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item itemsmenu itemsmenu-01" href="#">ENG</a>
        <a class="dropdown-item itemsmenu itemsmenu-01" href="#">FRA</a>
        <a class="dropdown-item itemsmenu itemsmenu-01" href="#">ITA</a>
    </div>
</div>