<nav class="navbar navbar-secondary navbar-expand-lg nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-rounded active">
                <a class="nav-link itemsmenu" href="#">Item menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-rounded ml-4">
                <a class="nav-link itemsmenu" href="#">Item menu</a>
            </li>
            <li class="nav-item nav-rounded ml-4">
                <a class="nav-link itemsmenu" href="#">Item menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-rounded ml-4">
                <a class="nav-link itemsmenu" href="#">Item menu</a>
            </li>
            <li class="nav-item nav-rounded ml-4">
                <a class="nav-link itemsmenu" href="#">Item menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-rounded ml-4">
                <a class="nav-link itemsmenu" href="#">Item menu</a>
            </li>

        </ul>
    </div>
</nav>