<nav class="navbar navbar-expand-lg nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-rounded active">
                <a class="nav-link itemsmenu" href="#">Item menu <span class="sr-only">(current)</span></a>
            </li>
            @*<li class="nav-item nav-rounded ml-4">
            <a class="nav-link itemsmenu" href="#">Item menu</a>
        </li>*@
            <li class="nav-item nav-rounded ml-4 dropdown">
                <a class="nav-link itemsmenu dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Item menu <i class="fas fa-chevron-down ml-2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </li>
            @*<li class="nav-item nav-rounded ml-4">
            <a class="nav-link itemsmenu disabled" href="#">Item menu</a>
        </li>*@
            <li class="nav-item active">
                <a class="nav-link itemsmenu" href="#">Item menu <span class="sr-only">(current)</span></a>
            </li>
            @*<li class="nav-item ml-4">
            <a class="nav-link itemsmenu" href="#">Item menu</a>
        </li>*@
            <li class="nav-item ml-4 dropdown">
                <a class="nav-link itemsmenu dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Item menu <i class="fas fa-chevron-down ml-2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                    <a class="dropdown-item d-flex flex-row align-items-center" href="#"><span class="itemsmenu p-0 col">Item Menu</span><i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </li>
            @*<li class="nav-item ml-4">
                <a class="nav-link itemsmenu disabled" href="#">Item menu</a>
            </li>*@
        </ul>
    </div>
</nav>