<form class="search-box form-inline my-2 my-lg-0 d-flex align-items-center">
    <div class="box-input col p-0">
        <input class="input-text form-control itemsmenu mr-sm-2" type="search" placeholder="Buscar...">
        <i class="fas fa-search"></i>
    </div>
    <button class="btn btn-outline btn-m btn-rounded col-auto ml-2" type="submit">Buscar</button>
</form>