<a href="#r" class="icon_social icon_facebook">
    <i class="fab fa-facebook-square"></i>
</a>
<a href="#r" class="icon_social ml-4 icon_instagram">
    <i class="fab fa-instagram-square"></i>
</a>
<a href="#r" class="icon_social ml-4 icon_pinterest">
    <i class="fab fa-pinterest-square"></i>
</a>
<a href="#r" class="icon_social ml-4 icon_twitter">
    <i class="fab fa-twitter-square"></i>
</a>