@model BussinessLogicLayer.Objects.DayTrainingObject;
@{
    ViewBag.Title = "Detalle del entrenamiento";
    Layout = "~/Views/Shared/Master.cshtml";
}

@section js {
    <script src="~/Content/Viewsjs/ResultsTraining.js"></script>
    <script type="text/javascript">
        var DayTraining = @Html.Raw(Json.Serialize(Model));
    </script>
}

<section class="components training_detail">
    <div class="back_button">
        <a href="@Url.Action("Detail", "Trainings", new { code = Model.TrainingCode })">Volver</a>
    </div>
    <div class="top_result_training">
        <h2 class="basic_text f1">Tipo de entrenamiento: @Model.TrainingTypeName</h2>
        <h2 class="basic_text">Fecha de la sesión: @Model.Date.ToString("dd/MM/yyyy")</h2>
    </div>
    <div class="columns">
        <div class="left">
            <div class="grid_div">
                <div class="grid" id="detail_grid">

                </div>
            </div>
        </div>
    </div>
</section>