
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Favicon *@
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png" />

    @* Font Awesome *@
    <link href="~/Content/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />

    @* jQuery *@
    <script src="~/Content/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery/jquery-ui.min.js"></script>
    <link href="~/Content/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery-ui.theme.min.css" rel="stylesheet" />

    @* Main stylesheet *@
    <link href="~/Content/css/main.min.css" rel="stylesheet" />
    @* Theme selection *@
    <link href="~/Content/css/main-theme-light.css" rel="stylesheet" />
    @RenderSection("css", false)

    @* Main JS functionality *@
    <script src="~/Content/js/main.js"></script>
    @RenderSection("js", false)
</head>
<body>
    <section class="wrapper wrapper_login">
        <section class="content">
            <div class="col_center_100 flex flex_aic flex_jcc">
                @RenderBody()
            </div>
        </section>
    </section>

    @*<footer class="foo">
        @{ await Html.RenderPartialAsync("~/Views/Shared/Footer/Footer.cshtml"); }
    </footer>*@
</body>
</html>
