
@{
    ViewBag.Title = "Aviso Legal";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Aviso Legal</h1>
<h3>Datos Identificativos</h3>
<p><strong>XXXXXXX</strong> es la marca bajo la que se agrupan los servicios a asesorías y despachos profesionales de <strong>XXXXXXX</strong>, una entidad cuyo domicilio social se encuentra en XXXXXXXX, en XXXXXXX, con C.P. XXXXXX. Su CIF es X-XXXXXXXXX y el número de teléfono XXXXXXXX.</p>
<h3>Información de los Contenidos</h3>
<p>Estas páginas web tienen por objeto presentar la información relativa a los productos y servicios especializados que XXXXXXXX desarrolla hacia ese importante sector.</p>
<p>El acceso a las mismas, así como el uso que pueda hacerse de la información que contienen, son de la exclusiva responsabilidad del usuario. XXXXXXXX no se responsabilizará de ninguna consecuencia, daño o perjuicio que pudieran derivarse de este acceso o uso de información.</p>
<p>XXXXXXXX adopta todas las medidas necesarias, dentro de sus posibilidades y del estado de la tecnología, para evitar la existencia y transmisión de virus y demás componentes dañinos a los visitantes de sus páginas. No obstante, no garantiza ni se hace responsable de la ausencia de virus y/o demás componentes dañinos en sus páginas o en el servidor que las suministra, ni responderá de los daños o perjuicios que pudieran éstos, o cualquier persona que vulnere sus sistemas de seguridad, ocasionar a terceros.</p>
<p>Parte de los contenidos de las páginas pueden proceder de otras fuentes distintas a XXXXXXXX, indicándose en esos casos las fuentes o presentando enlaces con las mismas. Son seleccionados con carácter meramente orientativo para nuestros clientes y visitantes, a modo de consulta rápida de información útil. XXXXXXXX realizará todos los esfuerzos precisos para evitar errores en la información presentada y, en su caso, repararlos o actualizarlos lo antes posible, no pudiendo garantizar su inexistencia ni que el contenido de la información se encuentre permanentemente actualizado.</p>
<h3>Enlaces a terceros</h3>
<p>Se han incluido igualmente enlaces a páginas de sitios web de terceros (“links”), por ser socios tecnológicos o porque se han considerado de interés para los usuarios. No obstante, XXXXXXXX no asume ninguna responsabilidad derivada de la conexión o contenidos de los enlaces de terceros a los que se hace referencia en las páginas.</p>
<h3>Propiedad de los logotipos y marcas</h3>
<p>Todas las marcas y logotipos que aparecen en las páginas son propiedad de sus respectivos fabricantes, mayoristas o representantes legales en España, y son utilizadas con el fin único de promocionar sus respectivos productos.</p>
<h3>Servicio analítico de Google</h3>
<p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba indicados.</p>

