
@{
    ViewBag.Title = "Politica de Privacidad";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Politica de Privacidad y Cookies</h1>
<p>En <strong>XXXXXXXX</strong> tenemos el firme compromiso de respetar y proteger su privacidad, por lo que les informamos aquí de los distintos mecanismos por los que podemos adquirir y almacenar información en su visita, los objetivos de dicho tratamiento y los mecanismos y directivas por los que se regulan.</p>
<h3>Protección de datos personales</h3>
<p>Con el fin de facilitar el acceso a diferentes servicios o informaciones en algunos lugares de la página web, podrían recabarse datos personales del usuario en diversos formularios, datos que podrán incorporarse a un fichero de datos personales titularidad de XXXXXXXXX, debidamente tratado de acuerdo con la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal y el RGPD a nivel europeo.</p><p>El usuario que facilite sus datos personales a XXXXXXXXX consiente expresamente la incorporación de los mismos al citado fichero y el tratamiento de los mismos por parte de XXXXXXX para la realización de sus actividades: comunicación en un primer momento para responder a su petición en el cuestionario; y posteriores comunicaciones comerciales, a través de teléfono, email o boletines periódicos para informar sobre noticias y avisos relacionados con la actividad del cliente y/o propuestas comerciales relacionadas con los productos o servicios de XXXXXXXX.</p><p>En cualquier caso el tratamiento de los datos personales facilitados por el usuario se realizará con estricto cumplimiento de la normativa vigente y especialmente con la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal. En especial, XXXXXXXX se compromete a mantener las condiciones de confidencialidad y seguridad de los datos personales confiados por los usuarios en los términos previstos en la legislación vigente. No obstante, XXXXXXX no se hace responsable del acceso, modificación, tratamiento, pérdida o uso ilícito que de los datos facilitados por los usuarios pueda efectuar un tercero.</p><p>El usuario podrá ejercitar los derechos de acceso, rectificación, cancelación y oposición previstos en los artículos 15, 16, 17 y 18 de la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal dirigiéndose a XXXXXXXX por correo electrónico (para acreditar su identidad) a la cuenta info del dominio XXXXXXX.</p><p>Los usuarios serán responsables de la veracidad y actualización de los datos incorporados a los formularios que cumplimenten. <strong>XXXXXXXX</strong> no se hace responsable de los daños que pudieran ocasionarse por la falta de veracidad o inexactitud de los datos personales facilitados por el usuario</p>
<h3>Información no identificable y cookies</h3>
<p>Con el único fin de elaborar estadísticas acerca del tráfico en nuestra página, el sistema guarda automáticamente cierta información relativa a las visitas, como es la dirección IP de nuestros visitantes (y en la misma forma, Google Analytics; ver más abajo). Si continua navegando consideramos que acepta su uso.</p><p>NO guardamos, en este sentido, ningún tipo de información personal, que permitiera identificar o asociar dicha información con datos personales concretos.</p>
<h3>Servicio analítico de Google</h3>
<p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionalidad de este website. Al utilizar este website Usted consiente el tratamiento de la información por Google en la forma y para los fines arriba indicados.</p>
<h3>¿Qué es un cookie?</h3>
<p>Las cookies son ficheros que se descargan en el terminal (ordenador/smartphone/tablet) del usuario al acceder a determinadas páginas web y que se almacenan en la memoria del mismo. Las cookies permiten, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo, ver qué páginas se visitan, el tiempo de conexión, analizar el funcionamiento de una página, si existen problemas técnicos, etc. Dependiendo de la información que contengan y la forma en que se utilice el terminal, pueden utilizarse para reconocer al usuario.</p>
<h3>¿Qué tipos de cookies existen?</h3>
<p>Existen varios tipos de cookies en función de su finalidad:</p>
<ul><li>Cookies técnicas y/o de personalización. Son aquéllas que sirven para mejorar el servicio, localizar incidencias, reconocer al usuario, etc.</li><li>Cookies de análisis y/o de publicidad. Son aquéllas que sirven para analizar información sobre la navegación y ofrecer publicidad, sea genérica o personalizada.</li></ul>
<h3>¿Para qué sirve una cookie?</h3>
<p>Las cookies se utilizan para poder ofrecerle servicios y/o publicidad personalizados, para analizar el funcionamiento del sistema, reconocerle cuando accede como usuario, localizar incidencias y problemas que puedan surgir y solventarlos en el menor plazo posible, así como analizar y medir el uso y actividad de la página web.</p>
<h3>¿Se necesita mi consentimiento para implantar una cookie?</h3>
<p>No se precisa el consentimiento para la instalación de cookies técnicas o las que sean estrictamente necesarias para la prestación de un servicio de la sociedad de la información expresamente solicitado por el destinatario.</p><p>Para el resto, sí se precisa del consentimiento del interesado que se puede solicitar por distintas vías. En este caso, se entenderá otorgado si Vd. sigue utilizando la página web, sin perjuicio de que en cualquier momento podrá revocarlo y desactivar las cookies.</p>
<h3>¿Qué cookies utiliza actualmente este sitio?</h3>
<table style="width: 100%; margin-bottom:20px;" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td colspan="3" width="567">
                <p><strong>&gt;COOKIES TÉCNICAS (ESTRICTAMENTE NECESARIAS)</strong></p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><strong>Nombre de Cookies</strong></p>
            </td>
            <td width="340" valign="top">
                <p>Propósito</p>
            </td>
            <td width="123" valign="top">
                <p>Vencimiento</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p align="center"><strong>ASP.NET_SessionId</strong></p>
            </td>
            <td width="340" valign="top">
                <p>Se utiliza para identificar a un usuario que haya iniciado sesión en el sitio web.</p><p>Esta cookie se usa para asegurar que nuestro sitio sabe que usted es el mismo usuario a medida que se desplaza de una página a otra.</p>
            </td>
            <td width="123" valign="top">
                <p>Al cerrar la sesión.</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p align="center"><strong>.ASPXAUTH</strong></p>
            </td>
            <td width="340" valign="top">
                <p>Cookie específica de ASP.NET.</p>
                <p>Se usa para determinar si el usuario está autenticado y contiene, de forma encriptada, los datos para identificarlo en cada carga de página.</p>
            </td>
            <td width="123" valign="top">
                <p>Al cerrar la sesión.</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p align="center"><strong>aviso-cookies</strong></p>
            </td>
            <td width="340" valign="top">
                <p>Se utiliza para guardar que el usuario ha aceptado la política de cookies, para que la próxima vez no le aparezca el aviso de Uso de cookies</p>
            </td>
            <td width="123" valign="top">
                <p>1 mes</p>
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 100%; margin-bottom:20px;" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td colspan="3" width="567" valign="top">
                <p><strong>COOKIES ANALÍTICAS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><strong>Nombre de Cookies</strong></p>
            </td>
            <td width="340" valign="top">
                <p>Propósito</p>
            </td>
            <td width="123" valign="top">
                <p>Vencimiento</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><b>__utma</b></p>
            </td>
            <td width="340" valign="top">
                <p>Recopila datos como el número de veces que un usuario ha estado en el sitio, cuando ha sido su primera visita y cuando se produjo su última visita. Utilizado por Google Analytics.</p>
            </td>
            <td width="123" valign="top">
                <p>2 años</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><b>__utmb</b></p>
            </td>
            <td width="340" valign="top">
                <p>Toma una fecha y hora en el momento exacto que entra el usuario a la web así toma el tiempo que ha estado un visitante en el sitio. Utilizado por Google Analytics para calcular el tiempo que tarda una visita en el sitio web.</p>
            </td>
            <td width="123" valign="top">
                <p>30 minutos</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><b>__utmc</b></p>
            </td>
            <td width="340" valign="top">
                <p>Toma una fecha y hora en el momento exacto que entra el usuario a la web así toma el tiempo que ha estado un visitante en el sitio. Utilizado por Google Analytics para calcular el tiempo que tarda una visita en el sitio web.</p>
            </td>
            <td width="123" valign="top">
                <p>Cuando el explorador es cerrado</p>
            </td>
        </tr>
        <tr>
            <td width="104" valign="top">
                <p><b>__utmz</b></p>
            </td>
            <td width="340" valign="top">
                <p>Recopila datos acerca desde dónde proviene el visitante, las palabras que uso en el motor de búsqueda, en donde realizo clicks y desde que parte del mundo accedió. Utilizado por Google Analytics.</p>
            </td>
            <td width="123" valign="top">
                <p>6 meses</p>
            </td>
        </tr>
    </tbody>
</table>
<h3>¿Cómo puedo desactivar las cookies?</h3><p>La mayoría de los navegadores indican cómo configurar su navegador para que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, así como para desactivarlas completamente. Para controlar qué uso quiere que se haga de su información, puede configurar el navegador de su terminal en la forma que estime más conveniente para Vd.</p><p>En todo caso, le hacemos notar que si se desactivan las cookies técnicas y/o de funcionamiento, la calidad de la página web puede disminuir o puede que cueste más identificarle.</p><p>Le indicamos los siguientes enlaces, donde podrá encontrar más información sobre los diferentes navegadores:</p>
<ul>
    <li>Chrome, <a href="https://www.1and1.es/deref?link=http%3A%2F%2Fsupport.google.com%2Fchrome%2Fbin%2Fanswer.py%3Fhl%3Des%2526answer%3D95647&amp;__sign=8be0be302fb31b9763d3bddb806f2a19&amp;__ts=1381846670778" target="_top">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a></li>
    <li>Explorer <a href="https://www.1and1.es/deref?link=http%3A%2F%2Fwindows.microsoft.com%2Fes-es%2Fwindows7%2Fhow-to-manage-cookies-in-internet-explorer-9&amp;__sign=83516fd2b98627bff0ed354fc7b1bb86&amp;__ts=1381846670778" target="_top">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
    <li>Firefox <a href="https://www.1and1.es/deref?link=http%3A%2F%2Fsupport.mozilla.org%2Fes%2Fkb%2Fhabilitar-y-deshabilitar-cookies-que-los-sitios-we&amp;__sign=bf2e269bfc068ead53b659c9d625feff&amp;__ts=1381846670778" target="_top">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
    <li>Safari <a href="https://www.1and1.es/deref?link=http%3A%2F%2Fsupport.apple.com%2Fkb%2Fph5042&amp;__sign=c55a314fb6cb78b0e46a793235a2e08f&amp;__ts=1381846670778" target="_top">http://support.apple.com/kb/ph5042</a></li>
</ul>
<h3>¿Tengo otra forma de navegar?</h3><p>Alternativamente, muchos navegadores permiten activar un modo privado mediante el cual las cookies se borran siempre después de su visita. Dependiendo de cada navegador el modo privado, puede tener diferentes nombres. A continuación encontrará una lista de los navegadores más comunes y los diferentes nombres de este "modo privado":</p>
<ul>
    <li>Internet Explorer 8 y superior; InPrivate</li>
    <li>Safari 2 y superior; Navegación Privada</li>
    <li>Opera 10.5 y superior; Navegación Privada</li>
    <li>FireFox 3.5 y superior; Navegación Privada</li>
    <li>Google Chrome 10 y superior; Incógnito</li>
</ul>


